$max-width: 1440px;
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$sizes: map-keys($breakpoints);
$sizes_value: map-values($breakpoints);

:root {
    --grid-gap: 2rem;
}
