doctype html
html(lang="es-PE")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/bundle.lib.css")
		link(rel="stylesheet", href="./test.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap", rel="stylesheet")
		title WasGrid
		script(src="js/jquery.js") 
	body.bg-primary 
		header.main-nav.cross-center
			.l-section.legacy
				nav.cross-center
					h3 Wasgrid
					ul.menu.to-left
						li 
							a(href="#").nav--item Layout
						li 
							a(href="#").nav--item Responsive
						li 
							a(href="#").nav--item Grid System
						li 
							a(href="#").nav--item Grid System
						li 
							a(href="#").nav--item Grid System
					span#burger.cross-center.to-left
						span.es-menu--burger

		main(class="grid lg:grid-10").l-section.legacy.test-section
			include media.pug 
			include media-list.pug


		script(src="js/main.js") 
