doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/bundle.lib.css")
		link(rel="stylesheet", href="./test.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap", rel="stylesheet")
		title WasGrid
	body 
		header.main-nav
			nav.l-section.nav-section
				h3 Wasgrid
				ul.navigation
					li 
						a(href="#").nav--item Layout
					li 
						a(href="#").nav--item Responsive
					li 
						a(href="#").nav--item Grid System
					li 
						a(href="#").nav--item Grid System
					li 
						a(href="#").nav--item Grid System

		section.l-section 
			h2 Grid System
			div(class="f-grid es-grid:md-12")
				div(class="span:md-2 teal" style="min-height:400px ") 1
				div(class="span:md-2 random-1" style="min-height:400px ") 2
				div(class="span:md-2 teal" style="min-height:400px ") 1
				div(class="span:md-2 random-1" style="min-height:400px ") 2
				div(class="span:md-2 teal" style="min-height:400px ") 1
				div(class="span:md-2 random-1" style="min-height:400px ") 2