.es-menu--burger {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 1.5rem;
	background-color: silver;
	height: 2px;
	&::after,
	&::before {
		content: '';
		background-color: silver;
		position: absolute;
		width: 1.5rem;
		height: 2px;
	}
	&::after {
		top: -6px;
	}
	&::before {
		top: 6px;
	}
}
