@import './shared/index';

@import './functions/index';

@import './settings/index';

@import './base/index';

@import './layout/index';

@import './utils/icons';

$breakpoints: (
	md: $md,
	lg: $lg,
	xl: $xl,
);

@include compile-grid($breakpoints, 10);

@import './../theme/theme.scss';
